:root {
    --lightGray: #fafafa;
    --gray: #eaeaea;
    --darkGray: #cacaca;
    --blackGray: #313131;
    --green: #21a649;
    --grayGreen: #105d3b;
    --darkGreen: #00392a;
    --red: #cc0000;
    --blue: #0099ff;
    --darkBlue: #0066cc;
    --purple: #663399;
    --orange: #ff6600;
}


