:root {
    --lightGray: #fafafa;
    --gray: #eaeaea;
    --darkGray: #cacaca;
    --blackGray: #313131;
    --lightGreen: #99e5b1;
    --green: #21a649;
    --grayGreen: #105d3b;
    --darkGreen: #00392a;
    --blackGreen: #00261c;
    --blackBlackGreen: #001c14;
    --red: #cc0000;
    --lightBlue: #edf3ff;
    --blue: #0099ff;
    --darkBlue: #0066cc;
    --blackBlue: #1f2c42;
    --blackBlackBlue:#151e2d;
    --almostBlack: #0f1521;
    --purple: #663399;
    --orange: #ff6600;
    --plgray: rgb(38, 40, 43);
    --pogray: rgb(54, 57, 63);
}
* {
    box-sizing: inherit;
}
.ui.label.big {
    font-size: 14px;
}
body, html, table, tr, td {
    margin: 0;
    padding: 0;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
a {
    text-decoration: none;
    color: var(--blue);
}
body {
    min-width: 1080px;
    background-color: var(--pogray);
}
#marking {
    width: 100%;
    height: 100%;
    border-spacing: 0;
}
tr {
    height: 100%;
}
#menu {
    width: 250px;
    height: 100%;
    background-color: var(--plgray);
    vertical-align: top;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}
#content {
    vertical-align: top;
    margin-left: 250px;
    width: calc(100% - 250px);
    overflow-x: hidden;
    position: relative;
}
/* me module */
#me {
    width: 540px;
}
#me img {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    margin-right: 10px;
    display: block;
    filter: drop-shadow(0px 0px 3px rgba(50,50,50,0.2));
    -webkit-filter: drop-shadow(0px 0px 3px rgba(50,50,50,0.2));
}
#me .image_box {
    position: relative;
    font-weight: bold;
}
#me .login {
    font-size: 20px;
    color: var(--darkGray);
}
#me .post {
    font-size: 16px;
    font-weight: normal;
    color: dimgrey;
}
#me .group a {
    color: var(--green);
}
#me .logout {
    position: absolute;
    right: 25px;
    top: 42px;
    float: right;
    font-size: 18px;
}
#me .logout a {
    color: var(--darkGray);
    transition: 0.4s;
}
#me .logout a:hover {
    color: white;
}
#me #vk {
    background-color: var(--darkBlue);
}
#password-text-status, #password-color-status {
    margin-top: 5px;
    margin-left: 178px;
    width: calc(100% - 178px);
    float: left;
}
#password-text-status {
    font-size: 14px;
}
#password-text-status:empty {
    margin-top: 0;
}
#password-color-status {
    display: none;
    height: 4px;
    border-radius: 2px;

}
/* me module end */
#post, #name {
    text-align: left;
    float: left;
    color: white;
    margin-left: 10px;
}
#avatar > img {
    border-radius: 32px;
    overflow: hidden;
    height: 36px;
    width: 36px;
    float: left;
}
#name {
    font-size: 16px;
    font-weight: bold;
    max-width: 124px;
    white-space: normal;
    max-height: 44px;
    overflow: hidden;
    min-width: 150px;
}
#post {
    float: left;
    font-size: 14px;
    max-width: 124px;
}
#menu .item, #menu .item.sub {
    padding: 10px;
    color: var(--gray);
    background: var(--plgray);
    border: 0;
    border-radius: 0;
    box-shadow: none;
    font-weight: bold;
    font-size: 14px;
}
#menu .item.card {
    background-color: var(--blackBlackGreen);
}
#menu .list {
    display: none;
}
#menu .item.sub {
    padding-left: 20px;
    background: var(--blackBlackGreen);
}
#menu .item.toggle:hover, #menu .item.sub:hover {
    background-color: var(--blackBlue);
    color: white;
    cursor: pointer;
}
#modules {
    display: block;
    width: 100%;
    overflow: hidden;
}
.card .description {
    margin-top: 5px;
}
.card .description.hidden {
    display: none;
}
/* module common */
.module {
    overflow: inherit;
    margin: 20px;
}
.module > .title, .module > .title.small, .addon > .title, .addon > .title.small {
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin: 10px 0;
}
.module > .title.small, .addon > .title.small {
    font-size: 18px;
}
.module .image_box {
    width: calc(100% - 40px);
    padding: 20px;
    overflow: hidden;
    background-color: var(--plgray);
    border-radius: 5px;
}
.module .image_box img {
    float: left;
    clear: left;
}
.module .input {
    padding-left: 20px;
    width: calc(100% - 20px);
    margin: 10px 0;
    overflow: hidden;
}
.module .input .info {
    margin-right: 150px;
    font-size: 14px;
    width: 322px;
    overflow: hidden;
}
.module label, .module .input .title {
    font-size: 16px;
    padding: 7px 20px 0 0;
    color: var(--lightGray);
    width: 158px;
    text-align: right;
    float: left;
}
.module .input .value {
    padding-top: 7px;
    font-size: 16px;
    color: var(--darkGray);
}
.module input.labeled {
    border-radius: 0 5px 5px 0;
    width: 292px;
}
.module .input_icon {
    width: 20px;
    padding: 11px 0 11px 10px;
    border-radius: 5px 0 0 5px;
    font-size: 14px;
    float: left;
    background-color: var(--plgray);
    color: var(--darkGray);
    transition: 0.4s;
}
.module .input_icon:hover {
    color: white;
}
.module input {
    background-color: var(--plgray);
    color: var(--darkGray);
    border: 0;
    font-size: 14px;
    display: block;
    padding: 10px;
    border-radius: 5px;
    width: 322px;
    float: left;
}
.module input:focus {
    outline: none;
}
.module .subtitle {
    font-size: 14px;
    color: var(--darkGray);
    margin: -10px 0 10px 0;
}
.module .save-button {
    margin-top: 10px;
    margin-left: 198px;
    padding: 10px;
    background-color: var(--green);
    float: left;
    clear: left;
    text-align: center;
    font-size: 16px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.module .form-response {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    float: left;
    color: var(--green);
}
.module .form-response.error {
    color: var(--red);
}
.module .save-button.disabled {
    cursor: default;
    opacity: 0.4;
}
.module .form {
    overflow: hidden;
}
.module .input_error {
    margin-top: 5px;
    margin-left: 178px;
    float: left;
    font-size: 14px;
    color: var(--red);
}
.module .input_error:empty {
    margin-top: 0;
}
.module .save-button a {
    font-size: 16px;
    color: white;
}
/* module common ends */




