<div class="day {{classList}}">
    <div class="content">
        <span class="number">{{number}}</span>
        <span class="weekDay">{{weekDay}}</span>
        {{#if cached}}
            <div class="period">{{time}}</div>
        {{/if}}
    </div>
</div>