<div class="editor">
    <div class="editor_title">
        <div class="editor_title_text">Изменить домашнее задание</div>
        <div class="editor_title_close">
            <img src="../../assets/images/x.png">
        </div>
    </div>
    <div class="editor_content">
        <div class="editor_subject">{{subject}}</div>
        <textarea class="editor_text"></textarea>
        <div class="editor_submit">Сохранить</div>
        <div id="imageLoader" class="dropzone"></div>
    </div>
</div>